@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Shadows+Into+Light+Two&display=swap');

:root {
	font-family: 'Amatic SC', cursive !important;
	font-size: 72px;
	scrollbar-width: thin;
	scrollbar-color: $june-bud $maximum-blue-green;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: $june-bud;
}

::-webkit-scrollbar-track {
	background: $maximum-blue-green;
}

html, body {
	margin: 0;
	padding: 0;
}

section {
	height: 100vh;
	width: 100%;
}

button, input {
	font-family: 'Amatic SC', cursive !important;
	font-weight: bold;
}

.actionButton {
	font-size: 0.75rem;
	border: none;
	border-radius: 12px;
	padding: 0 0.5rem;

	&:hover {
		cursor: pointer;
	}
}

.section-welcome {
	display: grid;
	background: url("/img/title.webp");
	background-size: cover;

	.welcomeText {
		@include user-select($deep-cerise);
		place-self: center;
		text-align: center;
		vertical-align: middle;
		color: $june-bud;
		font-weight: bold;
		font-family: 'Shadows Into Light Two', cursive;
		-webkit-text-stroke: 1px black;
		text-transform: uppercase;
		font-size: 2rem;
	}
}


.section-infotext {
	background: $june-bud;
	@include defaultSectionTemplate();
	text-align: center;

	* {
		@include user-select($maximum-blue-green);
	}

	.panel1 {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
		//width: 100%;
		grid-area: panel1;
		@media(max-width: 1200px) {
			grid-area: content
		}
	}

	.panel2 {
		width: 100%;
		grid-area: panel2;
		@media(max-width: 1200px) {
			grid-area: title
		}
	}

	.actionButton {
		background: $maximum-blue-green
	}
}

.section-schedule {
	@include defaultSectionTemplate();
	background: $maximum-blue-green;

	.actionButton {
		background: $mandarin;
	}

	* {
		@include user-select($mandarin);
	}

	.panel1 {
		grid-area: panel1;
		@media(max-width: 1200px) {
			grid-area: title
		}
	}

	.panel2 {
		@media(max-width: 1200px) {
			grid-area: content
		}
		@media(min-width: 1200px) {
			grid-area: panel2;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-content: center;
		}

		ul, li {
			list-style-type: '\1f366';
		}

		ul {
			margin: 0;
		}
	}
}

.section-signup {
	@include defaultSectionTemplate;
	grid-template-areas: "a a""panel1 panel2";
	grid-template-rows: 0 100vh;
	background: $mandarin;

	@media(max-width: 1200px) {
		grid-template-areas: "a""title" "content";
		grid-template-rows: 0 auto auto;
	}

	* {
		@include user-select($june-bud);
	}

	a {
		grid-area: a;
		align-self: start;
	}

	.panel1 {
		display: flex;
		flex-direction: column;

		@media(max-width: 1200px) {
			grid-area: content
		}
		@media(min-width: 1200px) {
			justify-content: space-evenly;
			align-items: center;
			grid-area: panel1;
			* {
				margin: 5px;
				max-width: 90%;
			}
		}

		input {
			font-size: 1rem;
			background: $june-bud;
			outline: none;
			border: 1px solid black;
			border-radius: 12px;
			@include user-select($mandarin)
		}
	}

	.panel2 {
		display: flex;
		flex-direction: column;
		@media(max-width: 1200px) {
			grid-area: title
		}
		@media(min-width: 1200px) {
			grid-area: panel2;
			justify-content: space-evenly;
			align-content: center;
		}

		span {
			text-align: center;
		}
	}

	.actionButton {
		background: $june-bud
	}
}

.gallery {
	background: $maximum-red-purple;

	* {
		@include user-select($maximum-blue-green);
	}

	img {
		width: 960px;
	}

	h1 {
		text-align: center;
		color: $june-bud;
		margin: 0;
		font-size: 1rem;
	}

	.galleryContainer {
		display: grid;
		background: $maximum-red-purple;
		@media(min-width: 1200px) {
			grid-template-columns: 50% 50%;
			align-items: center;
		}
		padding-top: 5px;

		@media(max-width: 1200px) {
			grid-template-columns: 100%;
			.primaryPhoto {
				&:nth-child(odd){
					justify-self: start;
				}

				&:nth-child(even){
					justify-self: right;
				}
			}
		}

		.primaryPhoto {
			@media(min-width: 1200px) {
				width: 100%;
			}
			user-select: none;
		}
	}
}