@mixin user-select($color){
	&::selection{
		color: black;
		background: $color;
	}
}

@mixin defaultSectionTemplate{
	display: grid;
	grid-template-areas: "a a""panel1 panel2";
	grid-template-columns: 50% 50%;
	grid-template-rows: 0 auto;
	place-items: center;

	a{
		grid-area: a;
	}

	@media(max-width: 1200px){
		grid-template-areas: "a""title" "content";
		grid-template-columns: 100%;
		grid-template-rows: 0 auto auto;
		place-items: center;
		place-content: center;

		.title{
			font-weight: bold;
		}

		div{
			margin: 0 1rem;
		}
	}
}