<template>
	<section class="section-infotext">
		<a name="sectionInfo" />
		<div class="panel1">
			Přijďte s námi oslavit první jarní den na naší akci a užijte si první sluneční paprsky v příjemné společnosti.
			<action-button
				motivation-text="Přijďte"
				where="#signupForm"
			/>
		</div>
		<div class="panel2 title">
			Informace
		</div>
	</section>
</template>

<script lang="ts">
import ActionButton from "~/components/action-menu.vue";
export default {
	name: "SectionMotivationtext",
	components: {ActionButton}
}
</script>