<template>
	<section class="gallery">
		<a name="galerySection"/>
		<h1>Fotogalerie</h1>
		<div class="galleryContainer">
			<img v-bind:src="photoPaths[0]" class="primaryPhoto" alt="image1"/>
			<img v-bind:src="photoPaths[1]" class="primaryPhoto" alt="image2"/>
			<img v-bind:src="photoPaths[2]" class="primaryPhoto" alt="image3"/>
			<img v-bind:src="photoPaths[3]" class="primaryPhoto" alt="image4"/>
		</div>
	</section>
</template>

<script lang="ts">
export default {
	name: "SectionPhotogalery",

	data: ()=>{
		return{
			photoPaths: [
				"/img/amusement-park-237200_1920.webp",
				"/img/boys-286245_1920.webp",
				"/img/boys-3396713_1920.webp",
				"/img/sisters-931151_1920.webp"
			],
		}
	}
}
</script>