<template>
	<section class="section-schedule">
		<a name="scheduleSection"/>
		<div class="panel1 title">
			Program
		</div>
		<div class="panel2">
			<ul>
				<li>15:00 - Začátek</li>
				<li>15:00 - 19:00 Dětské atrakce</li>
				<li>16:00 - 17:00 Soutěž o ceny</li>
				<li>18:00 - 19:00 Koncert jaroslava uhlíře</li>
			</ul>
			<action-button motivation-text="Buďte tam" where="#signupForm"/>
		</div>
	</section>
</template>

<script lang="ts">
import ActionButton from "~/components/action-menu.vue";
export default {
name: "SectionSchedule",
	components: {ActionButton}
}
</script>
