<template>
	<section class="section-signup">
		<a name="signupForm"/>
		<div class="panel1">
			<input placeholder="Vaše jméno" v-model="participantName">
			<input placeholder="Váš e-mail" v-model="participantEmail">
			<button class="actionButton" @click="signMeUp()">Přijdu</button>
		</div>
		<div class="panel2">
			<span class="interestText title">Přijďte!</span>
			Vyplňte své jméno a ukažte ostatním, že tam nebudou sami. Pokud přijdete, bude tam také {{attendees}} lidí.
		</div>
	</section>
</template>

<script lang="ts">
import {SignupForm} from "~/hooks/signupForm"
const signup: SignupForm = new SignupForm()

export default {
	name: "section-signup",

	data:()=>{
		return signup
	}
}
</script>