<template>
	<section class="section-welcome">
		<span class="welcomeText">21. 3. 2021<br>15:00 - 19:00<br>Borský park</span>
		<hovering-menu />
	</section>
</template>

<script lang="ts">
import HoveringMenu from "~/components/hovering-menu.vue";
export default {
	name: "SectionWelcome",
	components: {HoveringMenu}
}
</script>