<template>
	<div class="loadFonts">
		<section-welcome />
		<section-motivationtext />
		<section-schedule />
		<section-signup />
		<section-photogalery />
	</div>
</template>
<script language="ts">
import SectionWelcome from "~/components/sections/section-welcome.vue";
import SectionMotivationtext from "~/components/sections/section-motivationtext.vue";
import SectionSchedule from "~/components/sections/section-schedule.vue";
import SectionSignup from "~/components/sections/section-signup.vue";
import SectionPhotogalery from "~/components/sections/section-photogalery.vue";
export default {components: {
	SectionPhotogalery,
	SectionSignup, SectionSchedule, SectionMotivationtext, SectionWelcome}}
</script>
<style lang="scss" src="~/styles/main.scss" />