<template>
	<a v-bind:href="where"><button class="actionButton">{{motivationText}}</button></a>
</template>

<script>
export default {
	name: "ActionButton",
	props:["motivationText", "where"]
}
</script>