<template>
	<ul class="hoverMenu">
		<a href="#"><li><span class="title">Domů</span></li></a>
		<a href="#sectionInfo"><li><span class="title">Informace</span></li></a>
		<a href="#scheduleSection"><li><span class="title">Program</span></li></a>
		<a href="#signupForm"><li><span class="title">Registrace</span></li></a>
		<a href="#galerySection"><li><span class="title">Fotogalerie</span></li></a>
	</ul>
</template>

<script>
export default {
	name: "HoveringMenu"
}
</script>

<style scoped lang="scss">
	.hoverMenu{
		position: absolute;
		bottom: 0;
		display: flex;
		width:100%;
		justify-content: space-around;
		list-style: none;
		margin:0;
		padding: 0;
		color: $june-bud !important;
		-webkit-text-stroke: .5px black;

		a{
			color: $june-bud;
			text-decoration: none !important;
		}

		li{
			cursor: pointer;
			transition: all 0.2s;

			*{
				@include user-select($deep-cerise)
			}
			.title{
				font-weight: bold;
			}

			&:hover{
				background: $deep-cerise;
			}

			&::before{
				content: '\1f388';
			}
		}

		@media(max-width: 1200px){
			display: none;
		}
	}
</style>